%p#notice= notice

%p
  %b Name:
  = @show.name
%p
  %b Theater:
  = @show.theater
%p
  %b Address:
  = @show.address
%p
  %b Price:
  = @show.price
%p
  %b Show time:
  = @show.show_time
%p
  %b Description:
  = @show.description

= link_to 'Edit', edit_show_path(@show)
\|
= link_to 'Back', shows_path
